In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from datetime import datetime

In [28]:
# trainData_origin = pd.read_csv("train.csv")
# trainData = trainData_origin.sample(n=10000, random_state=42)
# trainData.head()
# trainData.to_csv("train_data_subset.csv", index=False)

trainData = pd.read_csv("train_data_subset.csv")
trainData.head()

,id,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,...,n5,n6,n7,n8,n9,n10,n11,n12,n13,n14
0,212188,4300.0,3,16.99,153.29,D,D3,54.0,NaN,1,...,3.0,9.0,3.0,6.0,2.0,3.0,0.0,0.0,0.0,3.0
1,299036,28000.0,3,5.32,843.22,A,A1,160.0,10+ years,0,...,8.0,23.0,8.0,19.0,3.0,11.0,0.0,0.0,0.0,0.0
2,475978,13000.0,3,17.57,467.19,D,D4,6426.0,10+ years,0,...,10.0,21.0,9.0,15.0,6.0,18.0,0.0,0.0,0.0,5.0
3,588988,10000.0,3,7.59,311.48,A,A3,62512.0,3 years,1,...,4.0,4.0,6.0,8.0,5.0,6.0,0.0,0.0,0.0,1.0
4,138859,7000.0,3,10.08,226.14,B,B1,118.0,4 years,0,...,4.0,11.0,5.0,12.0,2.0,9.0,0.0,0.0,0.0,1.0

In [29]:
trainData.shape

(10000, 47)

In [30]:
#trainData = trainData.head(100000)

In [31]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  int64
 1   loanAmnt            10000 non-null  float64
 2   term                10000 non-null  int64
 3   interestRate        10000 non-null  float64
 4   installment         10000 non-null  float64
 5   grade               10000 non-null  object
 6   subGrade            10000 non-null  object
 7   employmentTitle     10000 non-null  float64
 8   employmentLength    9413 non-null   object
 9   homeOwnership       10000 non-null  int64
 10  annualIncome        10000 non-null  float64
 11  verificationStatus  10000 non-null  int64
 12  issueDate           10000 non-null  object
 13  isDefault           10000 non-null  int64
 14  purpose             10000 non-null  int64
 15  postCode            10000 non-null  float64
 16  regionCode          10000 non-null  int64
 17  dti                 9999 non-null   float64
 18  delinquency_2years  10000 non-null  float64
 19  ficoRangeLow        10000 non-null  float64
 20  ficoRangeHigh       10000 non-null  float64
 21  openAcc             10000 non-null  float64
 22  pubRec              10000 non-null  float64
 23  pubRecBankruptcies  9997 non-null   float64
 24  revolBal            10000 non-null  float64
 25  revolUtil           9996 non-null   float64
 26  totalAcc            10000 non-null  float64
 27  initialListStatus   10000 non-null  int64
 28  applicationType     10000 non-null  int64
 29  earliesCreditLine   10000 non-null  object
 30  title               10000 non-null  float64
 31  policyCode          10000 non-null  float64
 32  n0                  9490 non-null   float64
 33  n1                  9490 non-null   float64
 34  n2                  9490 non-null   float64
 35  n3                  9490 non-null   float64
 36  n4                  9579 non-null   float64
 37  n5                  9490 non-null   float64
 38  n6                  9490 non-null   float64
 39  n7                  9490 non-null   float64
 40  n8                  9490 non-null   float64
 41  n9                  9490 non-null   float64
 42  n10                 9579 non-null   float64
 43  n11                 9140 non-null   float64
 44  n12                 9490 non-null   float64
 45  n13                 9490 non-null   float64
 46  n14                 9490 non-null   float64
dtypes: float64(33), int64(9), object(5)
memory usage: 3.6+ MB

In [32]:
trainData["isDefault"].value_counts()

0    8092
1    1908
Name: isDefault, dtype: int64

In [39]:
trainData["dti"]

0        0.95
1       20.17
2       13.05
3       15.19
4       22.61
        ...
9995    14.98
9996     8.51
9997     5.94
9998    19.56
9999    24.83
Name: dti, Length: 10000, dtype: float64

In [33]:
# 转换 'earliesCreditLine' 列为 datetime 类型
trainData['earliesCreditLine'] = pd.to_datetime(trainData['earliesCreditLine'], format='%b-%Y')

# 设置一个特定的现在时间，即2023年12月
specific_now = pd.Timestamp('2023-12')

# 计算每个借款人从信用历史开始到特定日期（2023年12月）的月份数

# trainData['CreditHistoryLength_months'] = (specific_now.year - trainData['earliesCreditLine'].dt.year) * 12 + specific_now.month - trainData['earliesCreditLine'].dt.month
# trainData = trainData.drop(["earliesCreditLine"], axis = 1)

trainData['earliesCreditLine'] = (specific_now.year - trainData['earliesCreditLine'].dt.year) * 12 + specific_now.month - trainData['earliesCreditLine'].dt.month

# 转换issueDate 为年月日
trainData['issueDate'] = pd.to_datetime(trainData['issueDate'])
trainData['issueYear'] = trainData['issueDate'].dt.year
trainData['issueMonth'] = trainData['issueDate'].dt.month
trainData['issueDay'] = trainData['issueDate'].dt.day
trainData = trainData.drop(["issueDate"], axis = 1)

# 处理employmentLength
trainData['employmentLength'].fillna('0 years', inplace=True)

# 定义转换函数，处理字符串并转换为整数
def convert_employment_length(length_str):
    if length_str.strip() == '10+ years':
        return 10  # 对于 '10+ years'，可以选择将其转换为 10 或其他值
    else:
        # 清理字符串并转换为整数
        return int(length_str.strip().replace(' years', '').replace(' year', '').replace('< 1', '0'))

# 应用转换函数
# trainData['employmentLengthNumeric'] = trainData['employmentLength'].apply(convert_employment_length)
# trainData = trainData.drop(["employmentLength"], axis = 1)

trainData['employmentLength'] = trainData['employmentLength'].apply(convert_employment_length)


grade_mapping = {
    'A': 7,
    'B': 6,
    'C': 5,
    'D': 4,
    'E': 3,
    'F': 2,
    'G': 1
}

# 应用映射将 subGrade 字母转换为数字
trainData['grade'] = trainData['grade'].map(grade_mapping)

subgrade_mapping = {
    'A': 70,
    'B': 60,
    'C': 50,
    'D': 40,
    'E': 30,
    'F': 20,
    'G': 10,
}

# 定义转换函数
def convert_grade(grade_str):
    if pd.isna(grade_str):
        return None  # 处理可能的缺失值
    # 提取字母部分和数字部分
    letter = grade_str[0]
    number = int(grade_str[1:])
    # 计算总分数
    return subgrade_mapping[letter] + number - 1  # 减1是因为我们想让数字部分从0开始算

# 应用转换函数
trainData['subGrade'] = trainData['subGrade'].apply(convert_grade)


# 四舍五入最小和最大贷款金额到最近的5000的倍数
min_loan_amt = int(np.floor(trainData['loanAmnt'].min() / 2000) * 2000)
max_loan_amt = int(np.ceil(trainData['loanAmnt'].max() / 2000) * 2000)

# 使用四舍五入后的值生成区间
bins = list(range(min_loan_amt, max_loan_amt + 2000, 2000))

# 计算每个区间的高值作为分类标签
labels = [i + 2000 for i in bins[:-1]]  # 使用每个区间的最大值减1作为标签

# 创建贷款金额分类
trainData['loanAmnt_category'] = pd.cut(trainData['loanAmnt'], bins=bins, right=False, labels=labels)

# 查看结果


trainData['loanAmnt_category'] = trainData['loanAmnt_category'].cat.add_categories(0)


# # 处理NA
trainData = trainData.fillna(0)
trainData['loanAmnt_category'] = trainData['loanAmnt_category'].astype(int)

In [34]:
trainData['loanAmnt_category']

0        6000
1       30000
2       14000
3       12000
4        8000
        ...
9995    26000
9996     8000
9997    20000
9998    20000
9999    10000
Name: loanAmnt_category, Length: 10000, dtype: int32

In [35]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  int64
 1   loanAmnt            10000 non-null  float64
 2   term                10000 non-null  int64
 3   interestRate        10000 non-null  float64
 4   installment         10000 non-null  float64
 5   grade               10000 non-null  int64
 6   subGrade            10000 non-null  int64
 7   employmentTitle     10000 non-null  float64
 8   employmentLength    10000 non-null  int64
 9   homeOwnership       10000 non-null  int64
 10  annualIncome        10000 non-null  float64
 11  verificationStatus  10000 non-null  int64
 12  isDefault           10000 non-null  int64
 13  purpose             10000 non-null  int64
 14  postCode            10000 non-null  float64
 15  regionCode          10000 non-null  int64
 16  dti                 10000 non-null  float64
 17  delinquency_2years  10000 non-null  float64
 18  ficoRangeLow        10000 non-null  float64
 19  ficoRangeHigh       10000 non-null  float64
 20  openAcc             10000 non-null  float64
 21  pubRec              10000 non-null  float64
 22  pubRecBankruptcies  10000 non-null  float64
 23  revolBal            10000 non-null  float64
 24  revolUtil           10000 non-null  float64
 25  totalAcc            10000 non-null  float64
 26  initialListStatus   10000 non-null  int64
 27  applicationType     10000 non-null  int64
 28  earliesCreditLine   10000 non-null  int64
 29  title               10000 non-null  float64
 30  policyCode          10000 non-null  float64
 31  n0                  10000 non-null  float64
 32  n1                  10000 non-null  float64
 33  n2                  10000 non-null  float64
 34  n3                  10000 non-null  float64
 35  n4                  10000 non-null  float64
 36  n5                  10000 non-null  float64
 37  n6                  10000 non-null  float64
 38  n7                  10000 non-null  float64
 39  n8                  10000 non-null  float64
 40  n9                  10000 non-null  float64
 41  n10                 10000 non-null  float64
 42  n11                 10000 non-null  float64
 43  n12                 10000 non-null  float64
 44  n13                 10000 non-null  float64
 45  n14                 10000 non-null  float64
 46  issueYear           10000 non-null  int64
 47  issueMonth          10000 non-null  int64
 48  issueDay            10000 non-null  int64
 49  loanAmnt_category   10000 non-null  int32
dtypes: float64(33), int32(1), int64(16)
memory usage: 3.8 MB

# 数据清洗完毕，开始graph处理

1. 依据信用等级进行节点连接

In [10]:
# import pandas as pd
# import numpy as np
# from scipy.sparse import coo_matrix
# from scipy.io import savemat

# # 假设 trainData 是你的 DataFrame，并已经加载了数据
# # 数据包含 'id' 和 'grade'

# # 将数据按照 'grade' 分组
# grouped = trainData.groupby('grade')['id'].apply(np.array)

# # 准备创建稀疏矩阵的数据
# data = []
# row_indices = []
# col_indices = []

# # 使用NumPy创建索引
# for ids in grouped:
#     if len(ids) > 1:
#         # 创建一个索引数组，其中每个元素与后面所有元素配对一次
#         ix_grid = np.triu_indices(len(ids), 1)
#         row_indices.append(ids[ix_grid[0]])
#         col_indices.append(ids[ix_grid[1]])
#         data.append(np.ones(len(ids[ix_grid[0]]), dtype=int))

# # 拼接数组
# data = np.concatenate(data)
# row_indices = np.concatenate(row_indices)
# col_indices = np.concatenate(col_indices)

# # 创建稀疏矩阵
# max_id = trainData['id'].max() + 1
# adjacency_matrix = coo_matrix((data, (row_indices, col_indices)), shape=(max_id, max_id))

import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix
from scipy.io import savemat

# 假设 trainData 是你的 DataFrame，并已经加载了数据
# 数据包含 'id' 和 'grade'

# 将数据按照 'grade' 分组
grouped = trainData.groupby('subGrade').apply(lambda x: x.index.to_numpy())

# 准备创建稀疏矩阵的数据
data = []
row_indices = []
col_indices = []

# 使用NumPy创建索引
for indices in grouped:
    if len(indices) > 1:
        # 创建一个索引数组，其中每个元素与后面所有元素配对一次
        ix_grid = np.triu_indices(len(indices), 1)
        row_indices.append(indices[ix_grid[0]])
        col_indices.append(indices[ix_grid[1]])
        data.append(np.ones(len(indices[ix_grid[0]]), dtype=int))

# 拼接数组
data = np.concatenate(data)
row_indices = np.concatenate(row_indices)
col_indices = np.concatenate(col_indices)

# 创建稀疏矩阵
max_index = trainData.index.max() + 1
adjacency_matrix_grade = coo_matrix((data, (row_indices, col_indices)), shape=(max_index, max_index))

In [11]:
# 保存稀疏矩阵为.mat文件
mat_file_path = 'adjacency_grade.mat'
savemat(mat_file_path, {'net_tgt': adjacency_matrix_grade})

# 打印消息确认保存成功
print(f"Adjacency matrix saved to {mat_file_path}")

Adjacency matrix saved to adjacency_grade.mat

In [12]:
# 显示稀疏矩阵信息
print(adjacency_matrix_grade.shape)

(10000, 10000)

2. 依据purpose进行节点连接

In [15]:
trainData["purpose"].unique()

array([ 0,  4,  2,  3,  5,  8,  6,  9, 11, 10,  7,  1, 12, 13],
      dtype=int64)

In [15]:
# import pandas as pd
# import numpy as np
# from scipy.sparse import coo_matrix
# from scipy.io import savemat

# # 假设 trainData 是你的 DataFrame，并已经加载了数据
# # 数据包含 'id' 和 'grade'

# # 将数据按照 'purpose' 分组
# grouped = trainData.groupby('purpose')['id'].apply(np.array)

# # 准备创建稀疏矩阵的数据
# data = []
# row_indices = []
# col_indices = []

# # 使用NumPy创建索引
# for ids in grouped:
#     if len(ids) > 1:
#         # 创建一个索引数组，其中每个元素与后面所有元素配对一次
#         ix_grid = np.triu_indices(len(ids), 1)
#         row_indices.append(ids[ix_grid[0]])
#         col_indices.append(ids[ix_grid[1]])
#         data.append(np.ones(len(ids[ix_grid[0]]), dtype=int))

# # 拼接数组
# data = np.concatenate(data)
# row_indices = np.concatenate(row_indices)
# col_indices = np.concatenate(col_indices)

# # 创建稀疏矩阵
# max_id = trainData['id'].max() + 1
# adjacency_matrix = coo_matrix((data, (row_indices, col_indices)), shape=(max_id, max_id))

import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix
from scipy.io import savemat

# 假设 trainData 是你的 DataFrame，并已经加载了数据
# 数据包含 'id' 和 'grade'

# 将数据按照 'grade' 分组
grouped = trainData.groupby('purpose').apply(lambda x: x.index.to_numpy())

# 准备创建稀疏矩阵的数据
data = []
row_indices = []
col_indices = []

# 使用NumPy创建索引
for indices in grouped:
    if len(indices) > 1:
        # 创建一个索引数组，其中每个元素与后面所有元素配对一次
        ix_grid = np.triu_indices(len(indices), 1)
        row_indices.append(indices[ix_grid[0]])
        col_indices.append(indices[ix_grid[1]])
        data.append(np.ones(len(indices[ix_grid[0]]), dtype=int))

# 拼接数组
data = np.concatenate(data)
row_indices = np.concatenate(row_indices)
col_indices = np.concatenate(col_indices)

# 创建稀疏矩阵
max_index = trainData.index.max() + 1
adjacency_matrix_purpose = coo_matrix((data, (row_indices, col_indices)), shape=(max_index, max_index))

In [16]:
print(adjacency_matrix_purpose.shape)

(10000, 10000)

In [17]:
# 保存稀疏矩阵为.mat文件
mat_file_path = 'adjacency_purpose.mat'
savemat(mat_file_path, {'net_tpt': adjacency_matrix_purpose})

# 打印消息确认保存成功
print(f"Adjacency matrix saved to {mat_file_path}")

Adjacency matrix saved to adjacency_purpose.mat

3. 地理位置链接

In [18]:
#sorted(trainData["regionCode"].unique())

In [16]:
# import pandas as pd
# import numpy as np
# from scipy.sparse import coo_matrix
# from scipy.io import savemat

# # 假设 trainData 是你的 DataFrame，并已经加载了数据
# # 数据包含 'id' 和 'grade'

# # 将数据按照 'purpose' 分组
# grouped = trainData.groupby('regionCode')['id'].apply(np.array)

# # 准备创建稀疏矩阵的数据
# data = []
# row_indices = []
# col_indices = []

# # 使用NumPy创建索引
# for ids in grouped:
#     if len(ids) > 1:
#         # 创建一个索引数组，其中每个元素与后面所有元素配对一次
#         ix_grid = np.triu_indices(len(ids), 1)
#         row_indices.append(ids[ix_grid[0]])
#         col_indices.append(ids[ix_grid[1]])
#         data.append(np.ones(len(ids[ix_grid[0]]), dtype=int))

# # 拼接数组
# data = np.concatenate(data)
# row_indices = np.concatenate(row_indices)
# col_indices = np.concatenate(col_indices)

# # 创建稀疏矩阵
# max_id = trainData['id'].max() + 1
# adjacency_matrix = coo_matrix((data, (row_indices, col_indices)), shape=(max_id, max_id))

import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix
from scipy.io import savemat

# 假设 trainData 是你的 DataFrame，并已经加载了数据
# 数据包含 'id' 和 'grade'

# 将数据按照 'grade' 分组
grouped = trainData.groupby('postCode').apply(lambda x: x.index.to_numpy())

# 准备创建稀疏矩阵的数据
data = []
row_indices = []
col_indices = []

# 使用NumPy创建索引
for indices in grouped:
    if len(indices) > 1:
        # 创建一个索引数组，其中每个元素与后面所有元素配对一次
        ix_grid = np.triu_indices(len(indices), 1)
        row_indices.append(indices[ix_grid[0]])
        col_indices.append(indices[ix_grid[1]])
        data.append(np.ones(len(indices[ix_grid[0]]), dtype=int))

# 拼接数组
data = np.concatenate(data)
row_indices = np.concatenate(row_indices)
col_indices = np.concatenate(col_indices)

# 创建稀疏矩阵
max_index = trainData.index.max() + 1
adjacency_matrix_geo = coo_matrix((data, (row_indices, col_indices)), shape=(max_index, max_index))

In [17]:
# 保存稀疏矩阵为.mat文件
mat_file_path = 'adjacency_geo.mat'
savemat(mat_file_path, {'net_trt': adjacency_matrix_geo})

# 打印消息确认保存成功
print(f"Adjacency matrix saved to {mat_file_path}")

Adjacency matrix saved to adjacency_geo.mat

4. 按照贷款金额区间链接

In [36]:
trainData["loanAmnt_category"]

0        6000
1       30000
2       14000
3       12000
4        8000
        ...
9995    26000
9996     8000
9997    20000
9998    20000
9999    10000
Name: loanAmnt_category, Length: 10000, dtype: int32

In [37]:
import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix
from scipy.io import savemat

# 假设 trainData 是你的 DataFrame，并已经加载了数据
# 数据包含 'id' 和 'grade'

# 将数据按照 'grade' 分组
grouped = trainData.groupby('loanAmnt_category').apply(lambda x: x.index.to_numpy())

# 准备创建稀疏矩阵的数据
data = []
row_indices = []
col_indices = []

# 使用NumPy创建索引
for indices in grouped:
    if len(indices) > 1:
        # 创建一个索引数组，其中每个元素与后面所有元素配对一次
        ix_grid = np.triu_indices(len(indices), 1)
        row_indices.append(indices[ix_grid[0]])
        col_indices.append(indices[ix_grid[1]])
        data.append(np.ones(len(indices[ix_grid[0]]), dtype=int))

# 拼接数组
data = np.concatenate(data)
row_indices = np.concatenate(row_indices)
col_indices = np.concatenate(col_indices)

# 创建稀疏矩阵
max_index = trainData.index.max() + 1
adjacency_matrix_loan = coo_matrix((data, (row_indices, col_indices)), shape=(max_index, max_index))

In [38]:
# 保存稀疏矩阵为.mat文件
mat_file_path = 'adjacency_loamAmt.mat'
savemat(mat_file_path, {'net_tat': adjacency_matrix_loan})

# 打印消息确认保存成功
print(f"Adjacency matrix saved to {mat_file_path}")

Adjacency matrix saved to adjacency_loamAmt.mat

5. label 储存

In [24]:
trainData["isDefault"]

0       1
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    0
9999    0
Name: isDefault, Length: 10000, dtype: int64

In [25]:
from scipy.io import savemat

# 假设 trainData 是一个 pandas DataFrame
trainData_dict = {"label": trainData["isDefault"].values}

# 将数据保存为 .mat 文件
savemat("label.mat", trainData_dict)

In [26]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  int64
 1   loanAmnt            10000 non-null  float64
 2   term                10000 non-null  int64
 3   interestRate        10000 non-null  float64
 4   installment         10000 non-null  float64
 5   grade               10000 non-null  int64
 6   subGrade            10000 non-null  int64
 7   employmentTitle     10000 non-null  float64
 8   employmentLength    10000 non-null  int64
 9   homeOwnership       10000 non-null  int64
 10  annualIncome        10000 non-null  float64
 11  verificationStatus  10000 non-null  int64
 12  isDefault           10000 non-null  int64
 13  purpose             10000 non-null  int64
 14  postCode            10000 non-null  float64
 15  regionCode          10000 non-null  int64
 16  dti                 10000 non-null  float64
 17  delinquency_2years  10000 non-null  float64
 18  ficoRangeLow        10000 non-null  float64
 19  ficoRangeHigh       10000 non-null  float64
 20  openAcc             10000 non-null  float64
 21  pubRec              10000 non-null  float64
 22  pubRecBankruptcies  10000 non-null  float64
 23  revolBal            10000 non-null  float64
 24  revolUtil           10000 non-null  float64
 25  totalAcc            10000 non-null  float64
 26  initialListStatus   10000 non-null  int64
 27  applicationType     10000 non-null  int64
 28  earliesCreditLine   10000 non-null  int64
 29  title               10000 non-null  float64
 30  policyCode          10000 non-null  float64
 31  n0                  10000 non-null  float64
 32  n1                  10000 non-null  float64
 33  n2                  10000 non-null  float64
 34  n3                  10000 non-null  float64
 35  n4                  10000 non-null  float64
 36  n5                  10000 non-null  float64
 37  n6                  10000 non-null  float64
 38  n7                  10000 non-null  float64
 39  n8                  10000 non-null  float64
 40  n9                  10000 non-null  float64
 41  n10                 10000 non-null  float64
 42  n11                 10000 non-null  float64
 43  n12                 10000 non-null  float64
 44  n13                 10000 non-null  float64
 45  n14                 10000 non-null  float64
 46  issueYear           10000 non-null  int64
 47  issueMonth          10000 non-null  int64
 48  issueDay            10000 non-null  int64
 49  loanAmnt_category   10000 non-null  int32
dtypes: float64(33), int32(1), int64(16)
memory usage: 3.8 MB

In [27]:
trainData_features = trainData.drop(["id","isDefault"], axis = 1)
trainData_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   loanAmnt            10000 non-null  float64
 1   term                10000 non-null  int64
 2   interestRate        10000 non-null  float64
 3   installment         10000 non-null  float64
 4   grade               10000 non-null  int64
 5   subGrade            10000 non-null  int64
 6   employmentTitle     10000 non-null  float64
 7   employmentLength    10000 non-null  int64
 8   homeOwnership       10000 non-null  int64
 9   annualIncome        10000 non-null  float64
 10  verificationStatus  10000 non-null  int64
 11  purpose             10000 non-null  int64
 12  postCode            10000 non-null  float64
 13  regionCode          10000 non-null  int64
 14  dti                 10000 non-null  float64
 15  delinquency_2years  10000 non-null  float64
 16  ficoRangeLow        10000 non-null  float64
 17  ficoRangeHigh       10000 non-null  float64
 18  openAcc             10000 non-null  float64
 19  pubRec              10000 non-null  float64
 20  pubRecBankruptcies  10000 non-null  float64
 21  revolBal            10000 non-null  float64
 22  revolUtil           10000 non-null  float64
 23  totalAcc            10000 non-null  float64
 24  initialListStatus   10000 non-null  int64
 25  applicationType     10000 non-null  int64
 26  earliesCreditLine   10000 non-null  int64
 27  title               10000 non-null  float64
 28  policyCode          10000 non-null  float64
 29  n0                  10000 non-null  float64
 30  n1                  10000 non-null  float64
 31  n2                  10000 non-null  float64
 32  n3                  10000 non-null  float64
 33  n4                  10000 non-null  float64
 34  n5                  10000 non-null  float64
 35  n6                  10000 non-null  float64
 36  n7                  10000 non-null  float64
 37  n8                  10000 non-null  float64
 38  n9                  10000 non-null  float64
 39  n10                 10000 non-null  float64
 40  n11                 10000 non-null  float64
 41  n12                 10000 non-null  float64
 42  n13                 10000 non-null  float64
 43  n14                 10000 non-null  float64
 44  issueYear           10000 non-null  int64
 45  issueMonth          10000 non-null  int64
 46  issueDay            10000 non-null  int64
 47  loanAmnt_category   10000 non-null  int32
dtypes: float64(33), int32(1), int64(14)
memory usage: 3.6 MB

In [28]:
trainData_features.head()

,loanAmnt,term,interestRate,installment,grade,subGrade,employmentTitle,employmentLength,homeOwnership,annualIncome,...,n9,n10,n11,n12,n13,n14,issueYear,issueMonth,issueDay,loanAmnt_category
0,4300.0,3,16.99,153.29,4,42,54.0,0,1,86000.0,...,2.0,3.0,0.0,0.0,0.0,3.0,2014,10,1,4999
1,28000.0,3,5.32,843.22,7,70,160.0,10,0,106000.0,...,3.0,11.0,0.0,0.0,0.0,0.0,2015,10,1,29999
2,13000.0,3,17.57,467.19,4,43,6426.0,10,0,39000.0,...,6.0,18.0,0.0,0.0,0.0,5.0,2015,7,1,14999
3,10000.0,3,7.59,311.48,7,72,62512.0,3,1,50000.0,...,5.0,6.0,0.0,0.0,0.0,1.0,2016,7,1,14999
4,7000.0,3,10.08,226.14,6,60,118.0,4,0,50000.0,...,2.0,9.0,0.0,0.0,0.0,1.0,2018,8,1,9999

In [29]:
feature_matrix = trainData_features.values
feature_matrix

from scipy import io as sio
sio.savemat('trainData_features.mat', {'features': feature_matrix})

In [37]:
from scipy.sparse import csr_matrix, hstack
homo_matrix = hstack([adjacency_matrix_grade, adjacency_matrix_purpose,adjacency_matrix_geo,adjacency_matrix_loan])

In [38]:
print(homo_matrix.toarray()[:5, :5])  # 打印左上角的5x5子矩阵

[[0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [44]:
combined_matrix = adjacency_matrix_grade + adjacency_matrix_purpose + adjacency_matrix_geo + adjacency_matrix_loan
combined_matrix.data[combined_matrix.data > 1] = 1

In [45]:
print(combined_matrix.toarray()[:5, :5])

[[0 1 1 1 1]
 [0 0 1 1 1]
 [0 0 0 1 1]
 [0 0 0 0 1]
 [0 0 0 0 0]]

In [46]:
mat_file_path = 'homo_matrix.mat'

# 保存稀疏矩阵为MAT文件
savemat(mat_file_path, {'homo': combined_matrix})

In [48]:
mat_file_path = 'AlibabaLoan.mat'

label_array = trainData["isDefault"].values.astype(int)

# 准备要保存的矩阵
matrices_dict = {
    'features': feature_matrix,
    'label':label_array,
    'homo': combined_matrix,
    'net_tgt': adjacency_matrix_grade,
    'net_tpt': adjacency_matrix_purpose,
    'net_trt': adjacency_matrix_geo,
    'net_tat': adjacency_matrix_loan,
}
savemat(mat_file_path, matrices_dict)

In [33]:
# from scipy.io import loadmat
# from scipy.io import loadmat, savemat
# from scipy.sparse import hstack

# mat_file1 = loadmat('adjacency_grade.mat')
# mat_file2 = loadmat('adjacency_purpose.mat')
# mat_file3 = loadmat('adjacency_geo.mat')
# mat_file4 = loadmat('adjacency_loamAmt.mat')

# # 获取稀疏矩阵
# sparse_matrix1 = mat_file1['net_tgt']
# sparse_matrix2 = mat_file2['net_tpt']
# sparse_matrix3 = mat_file3['net_trt']
# sparse_matrix4 = mat_file4['net_tat']

# # 合并稀疏矩阵
# merged_sparse_matrix = hstack([sparse_matrix1, sparse_matrix2,sparse_matrix3,sparse_matrix4])

# # 保存合并后的稀疏矩阵为MAT文件
# savemat('homo_matrix.mat', {'homo': merged_sparse_matrix})

In [34]:
# savemat('homo_matrix.mat', {'homo': merged_sparse_matrix}, format='5')

In [15]:
from scipy.io import whosmat

# 打印MAT文件中的变量信息
print(whosmat('adjacency_grade.mat'))
print(whosmat('adjacency_purpose.mat'))
print(whosmat('adjacency_geo.mat'))
print(whosmat('adjacency_loamAmt.mat'))

[('net_tgt', (50000, 50000), 'sparse')]
[('net_tpt', (50000, 50000), 'sparse')]
[('net_trt', (50000, 50000), 'sparse')]
[('net_tat', (50000, 50000), 'sparse')]